body{
    margin: 1em;
}
.container {
    font-size: 3em;
    background-color:lightseagreen;
}
.spanClass {
    padding: 1em;
    color:cadetblue;
}

.spanJsx {
    padding: 1em;
    color:tomato;
}
.spanSimplified {
    padding: 1em;
    color:goldenrod;
}